canvas#gameCanvas {
    background: #000;
    border-radius: 20px;
    border: 4px solid #0ff;
    box-shadow: 0 0 30px #0ff, 0 0 60px #0ff, 0 0 90px #0ff inset;
    cursor: none; 
    display: block;
    margin: auto;
}
